
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <h1> เมนู </h1>
    <hr class="bg-dark" />
    <div class="container">
        <div class="row" style="margin-bottom:2%">
            <div class="col-md-12" align="center">
                <a href="/OrderPrint/ListWorkAll">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-todo-list-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>รายการทั้งหมด</label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom:2%">
            <div class="col-md-6" align="center">
                <a href="/OrderPrint/ListOverdue">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-delete-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>รายการที่ยังไม่ชำระเงิน</label>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" align="center">
                <a href="/OrderPrint/ConfirmPayment">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-iphone-spinner-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>รายการที่รอยืนยันการชำระเงิน</label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom:2%">
            <div class="col-md-6" align="center">
                <a href="/OrderPrint/ListWorkStatus">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-purchase-order-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>อัพเดตสถานะงาน</label>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" align="center">
                <a href="/Shipping/ListWorkShipping">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-in-transit-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>บันทึกการส่งมอบ</label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom:2%">
            <div class="col-md-12" align="center">
                <a href="/OrderPrint/ListOrderBin">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/icon/icons8-delete-bin-100.png" />
                        </div>
                        <div class="card-footer">
                            <label>รายการที่ไม่สมบูรณ์</label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>