
@{ ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    body {
        background: #F0F0F0;
        font-size: 18px;
        color: #69491A;
    }
</style>
<div class="container-fluid">
    <div class="row" style="margin-top:2rem;">
        <div class="col-md-6">
            <div class="thumbnail" style="text-align:right;">

                <h1>
                    <i class="fas fa-map-marker-alt" style="color:red;padding:1rem;font-size:30px;"></i>หจก. กราฟฟิกโซน
                </h1>
                <h1 style="border-bottom:ridge;">(Graphixzone)</h1>
                <p>
                    คือโรงงานผลิตและติดตั้งป้ายโฆษณา
                </p>
                <p>
                    ที่มีประสบการณ์มานานกว่า 10 ปี เรามีความพร้อมในการผลิตด้วยเครื่องจักรที่ได้มาตรฐาน
                </p>
                <p>
                    บนพื้นที่กว่า   800 ตารางเมตร จึงมั่นใจได้ในเรื่องคุณภาพและบริการ
                </p>
                <p align="center">

                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/images/d1.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:4rem;">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/images/d3.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div align="left">
                    <h1>นี่คือทีมงานคุณภาพ</h1>
                    <h1 style="border-bottom:ridge;">(employee)</h1>
                    <p>
                        พนักงานที่มีความรู้เชี่ยวชาญเฉพาะด้านของงานเพื่อให้สินค้าและบริการของร้านเราประทับแก่ลูกค้า
                    </p>
                    <p>
                        1. สื่อสารได้ดี
                    </p>
                    <p>
                        2. มีทัศนคติเชิงบวก
                    </p>
                    <p>
                        3. พร้อมทุกสถานการณ์ เปิดรับโอกาสใหม่ ๆ
                    </p>
                    <p>
                        4. ทำงานเป็นทีมได้ ปรับตัวได้ดี
                    </p>

                    <p>
                        5. มีความรู้ มีประสบการณ์ มีความรับผิดชอบสูง
                    </p>
                    <p>
                        6. มีใจรักในงาน และมุ่งมั่นที่จะประสบความสำเร็จ
                    </p>
                    <p>
                        7. สร้างจุดขาย มีความคิดสร้างสรรค์
                    </p>
                    <p>
                        8. มีวินัย ตรงต่อเวลา รักษาคำพูด
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div align="left" style="margin-top:2rem;">
        <h1 style="border-bottom:ridge;">เครื่องจักร(Machine)</h1>
        <p>รับพิมพ์ป้ายโฆษณา ป้ายอิงค์เจ็ท ป้ายไวนิล ป้ายสติกเกอร์ ด้วยเครื่องพิมพ์อิงค์เจ็ทขนาดใหญ่ หน้ากว้าง 1.6 เมตร และ 3.2 เมตร ด้วยเทคโนโลยีทันที่สมัย</p>
        <p>สามารถรองรับงานพิมพ์ป้ายโฆษณา ขนาดเล็กและใหญ่ พร้อมทั้งทีมงานติดตั้งป้ายโฆษณาประสบการณ์สูง</p>
    </div>
    <div class="row" style="margin-top:2rem;">
        <div class="col-md-6">
            <div class="thumbnail" style="text-align:right;">
                <img src="/images/printer1.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/images/eco2.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2rem;">
        <div class="col-md-6">
            <div class="thumbnail" style="text-align:right;">
                <img src="/images/d11.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/images/d22.jpg" alt="Lights" style="width:100%">
            </div>
        </div>
    </div>
</div>