
@{
    ViewData["Title"] = "ChannelLetter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">อักษรโลหะ</h1>
        </div>
            <div class="row">
                <div class="col-12">
                    <p><span style="color: #B8860B	;"><strong>ป้ายอักษรโลหะ และอโลหะ (Channel Letters)</strong></span><br>ป้ายอักษรโลหะ และอโลหะ วัสดุที่นิยมนำมาผลิต อาทิเช่น เหล็กชุบซิงค์ พ่นสี, สแตนเลสเงา, สแตนเลสแฮร์ไลน์, อะคริลิก, พลาสวู๊ด, ทองเหลือง, ทองแดง, ไทเทเนียม และวัสดุอื่นๆ นำมาดัดแปลงผสมผสานตามสมัยนิยม</p>
                    <div align ="center">
                        <img src="~/images/riso2560.jpg" width="475" caption="false" style="opacity: 1;" />
                        <img src="~/images/safe.jpg" width="545" style="opacity: 1;" />
                    </div>
                    <div style="margin-top:2rem;">
                        <p><span style="color: #006400	;"><strong>1. ตัวอักษรพลาสวู๊ด พ่นสี&nbsp;</strong></span><br>- ผลิตภัณฑ์ที่เกิดจากการนำผงพีวีซีมาผสมกับสารปรุงแต่ง รวมถึง สารป้องกันรังสีอุลตร้าไวโอเลต (uv)เพื่อทดแทนไม้<br>-ใช้ได้ทั้งภายในและภายนอก<br>- ราคาถูกที่สุด <br></p>
                        <p><span style="color: #006400	;"><strong>2. ตัวอักษรเหล็กซิงค์ พ่นสี 2K (สีพ่นรถยนต์)</strong></span><br>-ราคาถูกกว่าสแตนเลส แต่ไม่มากเนื่องจากต้องนำไปทำสี<br>-สามารถนำไปทำสีให้ตรงตามความต้องการของลูกค้า<br>-มีความทนทาน อายุงานไม่ต่ำกว่า 5 ปี (อายุงานขึ้นกับสภาพอากาศและแสงแดด)<br></p>
                        <p><span style="color: #006400	;"><strong>3. ตัวอักษรอะคริลิค</strong></span><br>- เป็นวัสดุที่มีความทนทานแข็งแรง สามารถทนต่อแรงกระแทกได้ดีกว่ากระจก <br>- มีความเงางาม <br>- มีสีสันต่างๆ ให้เลือก โดยไม่ต้องทำสี<br>- ขึ้นรูปดัดกล่องธรรมดา ราคาไม่แพง แต่ถ้าแบบปั้มนูน ราคาจะสูง<br></p>
                        <p><span style="color: #006400	;"><strong>4. ตัวอักษรโลหะสแตนเลสเงาหรือแฮร์ไลน์ 304</strong></span> <br>-ไม่เป็นสนิม ราคาไม่แพง และดูและรักษาง่าย มีความเงางาม <br></p>
                        <p><span style="color: #006400	;"><strong>5. ตัวอักษรสแตนเลส 304 พ่นสี 2K&nbsp;</strong></span><br>-มีความทนทาน ไม่เป็นสนิม<br>-สามารถทำสีได้ตรงตามความต้องการของลูกค้า<br>-ราคาสูงกว่าสแตนเลสธรรมดา<br></p>
                        <p><span style="color: #006400	;"><strong>6. ตัวอักษรสแตนเลสไทเทเนียม</strong></span> <br>-สีสันเงางามมาก มีความหรูหรา ไม่ต้องนำมาพ่นสี <br>-ทนต่อการกัดกร่อนสูง และ ไม่เกิดสนิม <br>-ราคาค่อนข้างสูง<br></p>
                        <p><span style="color: #006400	;"><strong>7. ตัวอักษรทองเหลืองและทองแดงปัดเงา ทองแดงรมดำ</strong></span><br>- มีความหรูหรา มีความคลาสสิคในตัว <br>- ราคาค่อนข้างสูง</p>
                        <p><span style="color: #006400	;"><strong>8.&nbsp;หลอดไฟนีออนไลท์</strong></span> <br>เป็นรูปแบบป้ายที่ได้รับความนิยมมาอย่างยาวนาน แต่ได้ค่อยๆ หายไป เนื่องจากมี LED เข้ามาแทนที่ แต่ในปัจุบันกำลังเริ่มเป็นกลับมาเป็นที่นิยมอีกครั้ง เนื่องจากความที่มีเอกลักษณ์เฉพาะตัว ส่วนใหญ่นิยมใช้เป็นป้าย ในสถานบันเทิง ผับ บาร์ต่างๆ แต่ปัจจุบันหลายธุรกิจนิยมนำนีออนไลท์มาทำเป็นป้ายประชาสัมพันธ์กันอย่างแพร่หลาย เช่น ห้างสรรพสินค้า โรงภาพยนตร์ โรงแรม คอนโด อพาร์ทเมนท์ เพราะเป็นป้ายที่สามารถเป็นจุดสนใจแก่ผู้พบเห็นแม้ว่าจะอยู่ระยะไกลก็ตาม ป้ายไฟนีออนไลน์มีหลากหลายประเภท เช่น แบบมีแบ็คกราวน์ด้านหลัง แบบไฟออกด้านหลังอักษร แบบขดเป็นรูปเส้นของหลอดไฟ เป็นต้น</p>
                    </div> 
                </div>
            </div>
    </div>
