
@{
    ViewData["Title"] = "ติดต่อ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn{
        color:white;

    }
    body {
        background: #F0F0F0;
    }
</style>
<div class="container-fluid">
    <div align="center" style="padding:1rem;">
        <img src="~/images/Cloud-Contact-Center-Software-Platform-by-Vocalcom.webp" />
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <div style="margin-top:1rem;">
                <a href="https://web.facebook.com/gzkk9/"><i class="fab fa-facebook" style="color: #4267b2;padding:1rem;font-size:30px;"></i></a>: กราฟฟิกโซน รับทำ ป้ายขอนแก่น สื่อประชาสัมพันธ์
            </div>
            <div style="margin-top:1rem;">
                <a href="http://line.me/ti/p/~neng-gz"><i class="fab fa-line" style="color: #00b900;padding:1rem;font-size:30px;"></i></a>: Id Line Neng : neng-gz
            </div>
            <div style="margin-top:1rem;">
                <a href="https://www.instagram.com/explore/locations/777428135698459/thailand/khon-kaen-district/"><i class="fab fa-instagram" style="color: rgb(205, 57, 119); padding: 1rem; font-size: 30px;"></i></a>: กราฟฟิกโซน รับทำ ป้ายขอนแก่น สื่อประชาสัมพันธ์
            </div>
            <div style="margin-top:1rem;">
                <span>
                    <i class="fas fa-envelope-open-text" style="color: #0359AE;padding:1rem;font-size:30px;"></i>: graphixzone2010@gmail.com
                </span>
            </div>
            <div style="text-align:left;font-size:18px;margin-top:1rem;">
                <span>
                    <i class="fas fa-map-marker-alt" style="color:red;padding:1rem;font-size:30px;"></i>: หจก. กราฟฟิกโซน
                </span>
            </div>
            <div style="text-align:left;font-size:18px;margin-left:3.3rem;margin-top:1rem;">
                <span>
                    226/77-78 หมู่ 6 ถ.ประชาสโมสร ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000
                </span>
            </div>
        </div>
        <div class="col-md-5">
            <form action="ContactUs" method="post">
                <div class="form-group">
                    <label>ถึง :</label>
                    <div class="input-group-prepend">
                        <input class="form-control" type="text" name="Email" id="Email" placeholder="กรุณากรอกอีเมลล์" />
                    </div>
                </div>
                <div class="form-group">
                    <label>เรื่อง :</label>
                    <div class="input-group-prepend">
                        <input class="form-control" type="text" name="Subject" id="Subject" placeholder="กรุณากรอกหัวข้อเรื่อง" />
                    </div>
                </div>
                <div class="form-group">
                    <label>ชื่อ :</label>
                    <div class="input-group-prepend">
                        <input class="form-control" type="text" name="Name" id="Name" placeholder="กรุณากรอกชื่อ" />
                    </div>
                </div>
                <div class="form-group">
                    <label>ข้อความ : </label>
                    <textarea class="form-control" type="text" name="Message" id="Message" rows="5"></textarea>
                </div>
                <div align="center">
                    <button class="btn btn-warning" type="submit">ส่งข้อความ</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:2.5rem;">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.8328025458336!2d102.86387231486326!3d16.433315788656888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228bdcf1f4912d%3A0x920ad4798e87cf6e!2z4LiB4Lij4Liy4Lif4Lif4Li04LiB4LmC4LiL4LiZIEdyYXBoaXggWm9uZQ!5e0!3m2!1sen!2sth!4v1600079244505!5m2!1sen!2sth" width="1280" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" align="left"></iframe>
        </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="row" style="margin-top:2.5rem;">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">


        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
