@{ ViewData["Title"] = "Home Page"; }
<style>
    body {
        color: #69491A;
        font-size: 18px;
        background: #F0F0F0;
    }

    .zoom2 {
        background-color: none;
        transition: transform .2s;
        margin: 0 auto;
    }

        .zoom2:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5);
           
        }

    .fa-hotel, .fa-users {
        font-size: 200px;
        color: #E4B660;
    }
</style>

<div class="row">
    <div class="col-md-12">
        @*<header class="w3-container w3-center w3-padding-48 w3-white">
                <img src="~/images/graphiczonelogocut.png" style="width:200px;height:200px;" />

            </header>*@
        <header class="w3-display-container w3-content w3-center" style="max-width:1500px;">
            <img src="~/images/lights-2602785_1280.jpeg" style="width:1500px;height:700px; opacity:0.9">
            <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-white w3-center" style="padding:1rem;">
                <img src="~/images/graphiczonelogocut.png" style="width:200px;height:200px;" />
                <h1 class="w3-jumbo w3-animate-top" style="color:white;">Graphix Zone Khonkaen</h1>
                <hr class="w3-border-grey w3-jumbo w3-animate-top" style="margin:auto;width:80%;margin-bottom:2rem;animation-delay:1s;color:#69491A;">
                <p class="w3-large w3-right-w3-jumbo w3-animate-bottom" style="animation-delay: 2s;color:white;font-size:18px;"><b>ร้านป้ายกราฟฟิกโซน ขอนแก่น</b></p>
                <p class="w3-large w3-right-w3-jumbo w3-animate-bottom" style="animation-delay: 3s;color:white;font-size:18px;">ต้อนรับเข้าสู่บริการถูกระดับประดับใจใส่ใจทุกรายละเอียด</p>
                <div align="center">
                    <p class="w3-large w3-right-w3-jumbo w3-animate-bottom" style="color:black;margin-bottom:4rem;animation-delay:4s;color:white;">เปิดร้าน จันทร์-เสาร์ 08.00 - 17.00 น. </p>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="w3-row w3-container">
    <div class="w3-center w3-padding-64 w3-animate-bottom" style="animation-delay:4.5s;">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">สิ่งที่เรานำเสนอ</span>
    </div>
    <div class="w3-col l3 m6  w3-container w3-padding-16 w3-animate-bottom" style="animation-delay:6s;background-color:#FFFF66;color:black;">
        <h3>ข้อมูลร้าน</h3>
        <p>ทางร้านเปิดมามีประสบการณ์มากกว่า10ปีพร้อมทั้งผ่านงานใหญ่เล็กมาหลากหลายจึงมั่นใจในการบริการและสินค้าที่มีคุณภาพสูงสุด.</p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 w3-animate-bottom" style="animation-delay:7s;background-color:#FFD954;color:black;">
        <h3>ข้อมูลโรงงาน</h3>
        <p>โรงงานจะทำการผลิตบริการและสินค้าที่มีขนาดใหญ่และการบริการที่จัดตั้งทั้งในสถานที่และนอกสถานที่เพื่อการบริการสูงสุด.</p>
    </div>

    <div class="w3-col l3  w3-container w3-padding-16 w3-animate-bottom" style="animation-delay:8s;background-color:#E4B660;color:white;">
        <h3>ข้อมูลการบริการ</h3>
        <p>ทางร้านมีสินค้าหลากหลายมากมาย : 1.อิงค์เจ็ท 2.อักษรโลหะ 3.กล่องไฟ 4.ป้ายแอลอีดี 5.ป้ายทาวเวอร์ 6.สติ๊กเกอร์ 7.ป้ายอื่นๆ.</p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 w3-animate-bottom" style="animation-delay:9s;background-color:#F2AB39;color:white;">
        <h3>ข้อมูลติดต่อ</h3>
        <p>ทางร้านมีการติดต่อเพื่อการสื่อสารที่ดีกับลูกค้า: 1.Fackbook 2.Instagram 3.Line 4.Email 5.เบอร์โทรศัพ 6.ที่ตั้งของร้าน .</p>
    </div>
</div>
<div class="w3-row w3-grayscale-min" style="padding:1rem;">
    <div class="w3-quarter w3-animate-bottom zoom2" style="animation-delay:10.5s;">
        <img src="~/images/slide4.jpg" style="width:400px;height:250px;" onclick="onClick(this)" alt="Canoeing again" >
    </div>
    <div class="w3-quarter w3-animate-bottom zoom2" style="animation-delay:11s;">
        <img src="~/images/slide3.jpg" style="width:400px;height:250px;" onclick="onClick(this)" alt="Canoeing again">
    </div>
    <div class="w3-quarter w3-animate-bottom zoom2" style="animation-delay:11.5s;">
        <img src="~/images/slide2.jpg" style="width:400px;height:250px;" onclick="onClick(this)" alt="Canoeing again">
    </div>
    <div class="w3-quarter w3-animate-bottom zoom2" style="animation-delay:12s;">
        <img src="~/images/slide1.jpg" style="width:360px;height:250px;" onclick="onClick(this)" alt="Canoeing again">
    </div>
</div>
    <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <div class="w3-row-padding">
            <div class="w3-col m6 w3-animate-left" style="animation-delay:13s;">
                <h3 style="color:#69491A;font-weight:bold;border-bottom:ridge;">ข้อมูลร้าน (Shop Imformation)</h3>
                <p style="font-size:18px;color:#69491A;">หจก. กราฟฟิกโซน คือโรงงานผลิตและติดตั้งป้ายโฆษณา ที่มีประสบการณ์มานานกว่า 10 ปี เรามีความพร้อมในการผลิตด้วยเครื่องจักรที่ได้มาตรฐาน บนพื้นที่กว่า 800 ตารางเมตร จึงมั่นใจได้ในเรื่องคุณภาพและบริการรับพิมพ์ป้ายโฆษณา ป้ายอิงค์เจ็ท ป้ายไวนิล ป้ายสติกเกอร์ ด้วยเครื่องพิมพ์อิงค์เจ็ทขนาดใหญ่ หน้ากว้าง 1.6 เมตร และ 3.2 เมตร ด้วยเทคโนโลยีทันที่สมัย สามารถรองรับงานพิมพ์ป้ายโฆษณา ขนาดเล็กและใหญ่ พร้อมทั้งทีมงานติดตั้งป้ายโฆษณาประสบการณ์สูง<i class="fa fa-hotel w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
                <p><a href="/Home/AboutUs" class="w3-button" style="background-color:gold;color:#69491A;"><i class="fa fa-th"> </i>เกี่ยวกับเรา</a></p>
            </div>
            <div class="w3-col m6 ">
                <img style="animation-delay:13.5s;" class="w3-image w3-round-large w3-animate-left" src="~/images/d1.jpg" alt="Buildings" width="700" height="394">
            </div>
        </div>
    </div>
    <div class="w3-container " style="margin-bottom:2rem;">
        <div class="w3-row-padding">
            <div class="w3-col m6 ">
                <img style="animation-delay:14.5s;" class="w3-image w3-round-large w3-animate-right" src="~/images/d3.jpg" alt="Buildings" width="700" height="394">
            </div>
            <div class="w3-col m6  w3-animate-right" style="animation-delay:14s;">
                <h3 style="color:#69491A;font-weight:bold;border-bottom:ridge;">โรงงานสำหรับผลิตส่งนอกสถานที่(factory)</h3>
                <p style="font-size:18px;color:#69491A;">   โรงงานสำหรับผลิตงานที่มีขนาดใหญ่ใช้พื้นที่เก็บอุปกรณ์ อย่างเช่น  ป้ายอักษรโลหะ และอโลหะ วัสดุที่นิยมนำมาผลิต อาทิเช่น เหล็กชุบซิงค์ พ่นสี, สแตนเลสเงา, สแตนเลสแฮร์ไลน์, อะคริลิก, พลาสวู๊ด, ทองเหลือง, ทองแดง, ไทเทเนียม และวัสดุอื่นๆ นำมาดัดแปลงผสมผสานตามสมัยนิยม:<i class="fa fa-users w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
                <p><a href="/Home/AboutUs" class="w3-button" style="background-color:gold;color:#69491A;"><i class="fa fa-th"> </i>เกี่ยวกับเรา</a></p>
            </div>

        </div>
    </div>



    @*<div class="w3-row-padding w3-section">
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/riso_4.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/riso_5.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/riso2560.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/shabuking2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-md-12">
                <div class="w3-row-padding w3-padding-64 w3-container" style="border-bottom:ridge;">
                    <div class="w3-content">
                        <div class="w3-twothird w3-animate-left" style="animation-delay:3s;">
                            <h1 style="border-bottom:ridge;color:#69491A;font-weight:bold;">ข้อมูลร้าน (Shop Imformation)</h1>
                            <h5 class="w3-padding-32" style="color:#69491A;">หจก. กราฟฟิกโซน คือโรงงานผลิตและติดตั้งป้ายโฆษณา ที่มีประสบการณ์มานานกว่า 10 ปี เรามีความพร้อมในการผลิตด้วยเครื่องจักรที่ได้มาตรฐาน บนพื้นที่กว่า 800 ตารางเมตร จึงมั่นใจได้ในเรื่องคุณภาพและบริการ</h5>
                            <p class="w3-text" style="color:#69491A;">
                                รับพิมพ์ป้ายโฆษณา ป้ายอิงค์เจ็ท ป้ายไวนิล ป้ายสติกเกอร์ ด้วยเครื่องพิมพ์อิงค์เจ็ทขนาดใหญ่ หน้ากว้าง 1.6 เมตร และ 3.2 เมตร ด้วยเทคโนโลยีทันที่สมัย สามารถรองรับงานพิมพ์ป้ายโฆษณา ขนาดเล็กและใหญ่ พร้อมทั้งทีมงานติดตั้งป้ายโฆษณาประสบการณ์สูง
                            </p>
                            <div class="w3-content w3-section" style="max-width:600px">
                                <img class="mySlides w3-animate-fading" src="~/images/d1.jpg" style="width:100%">
                                <img class="mySlides w3-animate-fading" src="~/images/leo_umbella.jpg" style="width:100%">
                                <img class="mySlides w3-animate-fading" src="~/images/roo.jpg" style="width:100%">
                                <img class="mySlides w3-animate-fading" src="~/images/sawatdee_1.jpg" style="width:100%">
                            </div>
                            <script>
                                var myIndex = 0;
                                carousel();

                                function carousel() {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    myIndex++;
                                    if (myIndex > x.length) { myIndex = 1 }
                                    x[myIndex - 1].style.display = "block";
                                    setTimeout(carousel, 9000);
                                }
                            </script>
                        </div>
                        <div class="w3-third w3-center">
                            <i class="fa fa-hotel w3-padding-64  w3-margin-right"></i>
                        </div>
                    </div>
                </div>
                <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" style="border-bottom:ridge;">
                    <div class="w3-content">
                        <div class="w3-third w3-center">
                            <i class="fa fa-users w3-padding-64  w3-margin-right"></i>
                        </div>
                        <div class="w3-twothird w3-animate-right" style="animation-delay:4s;">
                            <h1 style="border-bottom:ridge;color:#69491A;font-weight:bold;" align="right">โรงงานสำหรับผลิตส่งนอกสถานที่(factory)</h1>
                            <h5 class="w3-padding-32" style="color:#69491A;">
                                โรงงานสำหรับผลิตงานที่มีขนาดใหญ่ใช้พื้นที่เก็บอุปกรณ์ อย่างเช่น  ป้ายอักษรโลหะ และอโลหะ วัสดุที่นิยมนำมาผลิต อาทิเช่น เหล็กชุบซิงค์ พ่นสี, สแตนเลสเงา, สแตนเลสแฮร์ไลน์, อะคริลิก, พลาสวู๊ด, ทองเหลือง, ทองแดง, ไทเทเนียม และวัสดุอื่นๆ นำมาดัดแปลงผสมผสานตามสมัยนิยม,
                            </h5>

                            <p class="w3-text" style="color: #69491A;">
                                ป้ายทาวเวอร์ ป้ายไพลอน (TOWER Sign, Pylon Sign)
                                มีลักษณะเป็นป้ายตั้งเสาสูงเด่นและมีโครงสร้างเหล็กขนาดใหญ่รองรับตัวป้าย ส่วนใหญ่ติดตั้งอยู่ด้านหน้าอาคาร หน้าสำนักงาน ด้วยจุดเด่นที่มีลักษณะสูงใหญ่ ทำให้ ศูนย์บริการ โชว์รูมรถ ศูนย์การค้า ปั๊มน้ำมัน ร้านอาหาร และสถานบันเทิงต่างๆ นิยมทำป้ายทาวเวอร์ไว้ด้านหน้าสถานประกอบการของตนเอง เพื่อดึงดูดให้ลูกค้า เข้ามาใช้บริการ
                            </p>
                            <div class="w3-content w3-section" style="max-width:600px" align="left">
                                <img class="mySlides w3-animate-top" src="~/images/d3.jpg" style="width:100%">
                                <img class="mySlides w3-animate-bottom" src="~/images/emp1.jpg" style="width:100%">
                                <img class="mySlides w3-animate-top" src="~/images/emp2.jpg" style="width:100%">
                                <img class="mySlides w3-animate-bottom" src="~/images/emp3.jpg" style="width:100%">
                            </div>
                            <script>
                                var myIndex = 0;
                                carousel();
                                function carousel() {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    myIndex++;
                                    if (myIndex > x.length) { myIndex = 1 }
                                    x[myIndex - 1].style.display = "block";
                                    setTimeout(carousel, 2500);
                                }
                            </script>

                        </div>
                    </div>
                </div>*@

                <div class="row" style="border-top:ridge;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div align="left" style="padding:2rem;">
                            <h1 style="color:#69491A;font-weight:bold;">ขั้นการสั่งทำบริการ(Order)</h1>
                            <hr style="width:400px;border:2px solid #69491A;" class="w3-round">
                        </div>
                        <div class="w3-row-padding w3-center w3-margin-top">
                            <div class="w3-third  w3-animate-left" style="animation-delay:15s;">
                                <div class="w3-card w3-container" style="min-height:460px;margin-right:1rem;">
                                    <i class="fas fa-shopping-cart w3-margin-bottom w3-text-theme" style="font-size:120px;color:#DAA520;margin-top:1rem;"></i>
                                    <br><h3 style="color:#69491A;font-size:28px;">สั่งทำ</h3>
                                    <div align="left" style="margin-left:6rem;color:#69491A;font-size:18px;">
                                        <p>1.สมัครสมาชิก</p>
                                        <p>2.เข้าสู่ระบบ</p>
                                        <p>3.กดปุ่มสิ่งทำ</p>
                                        <p>4.กรอกรายละเอียดการสั่งทำ</p>
                                        <p>5.กดสั่งทำ</p>
                                    </div>

                                </div>
                            </div>
                            <div class="w3-third">
                                <div class="w3-card w3-container w3-animate-left" style="animation-delay:16s;min-height:460px;margin-right:1rem;">
                                    <i class="fas fa-money-check-alt w3-margin-bottom w3-text-theme" style="font-size:120px;color:#DAA520;margin-top:1rem;"></i>
                                    <br><h3 style="color:#69491A;font-size:28px;">ชำระเงิน</h3>
                                    <div align="left" style="margin-left:7rem;font-size:18px;color:#69491A;">
                                        <p>1.กดปุ่มแจ้งหลักฐานการชำระเงิน</p>
                                        <p>2.กดปุ่มส่งหลักฐานการชำระเงิน</p>
                                        <p>3.กรอกรายละเอียดการแจ้งหลักฐานการชำระเงิน</p>
                                        <p>4.กดปุ่มบันทึก</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-third">
                                <div class="w3-card w3-container w3-animate-left" style="animation-delay:17s;min-height:460px;margin-left:1rem;">
                                    <i class="fa fa-box w3-margin-bottom w3-text-theme" style="font-size:120px;color:#DAA520;margin-top:1rem;"></i>
                                    <br><h3 style="color:#69491A;font-size:28px;">รอรับบริการ</h3>
                                    <div align="left" style="margin-left:7rem;font-size:18px;color:#69491A;font-size:18px;color:#69491A;">
                                        <p>1.สามารถเช็คสถานะการชำระเงิน</p>
                                        <p>2.สามารถเช็คสถานะงาน</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div><br>
                @*<script>
                    // Used to toggle the menu on small screens when clicking on the menu button
                    function myFunction() {
                        var x = document.getElementById("navDemo");
                        if (x.className.indexOf("w3-show") == -1) {
                            x.className += " w3-show";
                        } else {
                            x.className = x.className.replace(" w3-show", "");
                        }
                    }
                </script>
            </div>
        </div>*@
    <div class="row" style="margin-bottom:2rem;margin-top:2rem;background-color:#D3D3D3;">
        <div class="col-md-12">
            <div class="w3-container" id="services" style="margin-top:75px;color:#69491A;">
                <h1 class="w3-xxxlarge w3-text"><b>บริการของร้าน(Shop Services)</b></h1>
                <hr style="width:700px;border:2px solid #69491A;" class="w3-round">
                <div style="margin-left:10rem;padding:2rem;font-size:18px;">
                    <p>1&nbsp;)&nbsp;อิงค์เจ็ท&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;2&nbsp;)&nbsp;อักษรโลหะ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;3&nbsp;)&nbsp;กล่องไฟ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </p>
                    <p>4&nbsp;)&nbsp;ป้ายแอลอีดี &emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;5&nbsp;)&nbsp;ป้ายแผงตัวชี&emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;9&nbsp;)&nbsp;งามหุ้มอลูมิเนียมคอมโพสิต</p>
                    <p>7&nbsp;)&nbsp;สติ๊กเกอร์สำนักงาน&emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;8&nbsp;)&nbsp;อุปกรณ์บูธงานแสดงสินค้า&emsp;&emsp;&emsp;&emsp;10&nbsp;)&nbsp;สื่อประชาสัมพันธ์</p>
                    <p>10&nbsp;)&nbsp;ฉลากสินค้า&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;11&nbsp;)&nbsp;ป้ายทาวเวอร์12&nbsp;)&nbsp;ป้ายอื่นๆ</p>

                </div>
            </div>
        </div>
        <div class="row" style="font-size:28px;background-color:#FFD700;font-weight:bold;margin-top:2rem;">
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="zoom2">
                    <div class="view overlay z-depth-1-half">
                        <p align="center" style="color:#69491A;font-size:18px;">อิงค์เจ็ท</p>
                        <img style="height:200px; width:100%;" src="~/images/id5.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="zoom2">
                    <div class="view overlay z-depth-1-half">
                        <p align="center" style="color:#69491A;font-size:18px;">อักษรโลหะ</p>
                        <img style="height:200px; width:100%;" src="~/images/index1.jpg" class="img-fluid" alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="zoom2">
                    <p align="center" style="color:#69491A;font-size:18px;">กล่องไฟ</p>
                    <div class="view overlay z-depth-1-half">
                        <img style="height:200px; width:100%;" src="~/images/id2.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="zoom2">
                    <div class="view overlay z-depth-1-half">
                        <p align="center" style="color:#69491A;font-size:18px;">ป้ายแอลอีดี</p>
                        <img style="height:200px; width:100%;" src="~/images/index2.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="zoom2">
                    <div class="view overlay z-depth-1-half">
                        <p align="center" style="color:#69491A;font-size:18px;">ป้ายทาวเวอร์</p>
                        <img style="height:200px; width:100%;" src="~/images/index3.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="zoom2">
                    <div class="view overlay z-depth-1-half">
                        <p align="center" style="color:#69491A;font-size:18px;">สติ๊กเกอร์</p>
                        <img style="height:200px; width:100%;" src="~/images/id1.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }

            // Modal Image Gallery
            function onClick(element) {
                document.getElementById("img01").src = element.src;
                document.getElementById("modal01").style.display = "block";
                var captionText = document.getElementById("caption");
                captionText.innerHTML = element.alt;
            }

        </script>
    </div>


