
@{
    ViewData["Title"] = "Inkjet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">อิงค์เจ็ท</h1>
        </div>
            <div class="row">
                <div class="col-12" >
                    <p>รับพิมพ์ป้ายโฆษณา ป้ายอิงค์เจ็ท ป้ายไวนิล ป้ายสติกเกอร์ ด้วยเครื่องพิมพ์อิงค์เจ็ทขนาดใหญ่ หน้ากว้าง 1.6 เมตร และ 3.2 เมตร ด้วยเทคโนโลยีทันที่สมัย สามารถรองรับงานพิมพ์ป้ายโฆษณา ขนาดเล็กและใหญ่ พร้อมทั้งทีมงานติดตั้งป้ายโฆษณาประสบการณ์สูง</p>
                    <div class="row">
                        <img src="~/images/printer1.jpg" width="550" style="opacity: 1;">
                        <img src="~/images/eco3.jpg" width="550" style="opacity: 1; margin-left:5px;">
                    </div>
                    <p style="margin-top:1rem;"><span style="color: #B8860B;"><strong>ป้ายไวนิล (Vinyl Inkjet Outdoor)</strong></span> งานพิมพ์คุณภาพ ไวนิล สีสด เกรด 1 ปี หัวพิมพ์ Konica 512/35 pl<br>ป้ายไวนิลเป็นป้ายโฆษณาที่นิยมใช้ในงานกลางแจ้ง เนื่องจากทำจากพลาสติกชนิดพิเศษ ทนทานต่อแสงแดด ทนทานต่อสภาวะอากาศ และทนทานความร้อน<br>ซึ่งเหมาะสำหรับป้ายโฆษณากลางแจ้ง เช่น ป้ายบิลบอร์ด (Billboard) ป้ายคัทเอาท์ (Cutout) ป้ายหน้าอาคาร ป้ายแบนเนอร์ (Banner) ป้ายกองโจร (Street Cutout) เป็นต้น</p>
                    <ul>
                        <li>- ไวนิลทึบแสง Vinyl Frontlit สำหรับงานป้ายทั่วไป งานป้ายคัทเอาท์ขนาดใหญ่ งานธงญี่ปุ่น งานแบนเนอร์ภายนอกอาคาร</li>
                        <li>- ไวนิลโปร่งแสง Vinyl Backlit สำหรับขึงป้ายกล่องไฟขนาดใหญ่หรือยาวมาก</li>
                    </ul>
                    <p>ซึ่งไวนิลนั้นมีหลายเกรดให้เลือกตามอายุการใช้งานและงบประมาณของลูกค้า<br></p>
                    <div class="row">
                        <img src="~/images/d2.jpg" width="360" style="opacity:1;" />
                        <img src="~/images/d33.jpg" width="360" style="opacity:1;" />
                        <img src="~/images/d44.jpg" width="360" style="opacity:1;" />
                    </div>
                </div>
            </div>    
    </div>
