
@{
    ViewData["Title"] = "ป้ายแอลอีดี";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">ป้ายแอลอีดี</h1>
        </div>
            <div class="row">
                <div class="col-12" style="word-wrap: break-word;">
                    <p><span style="color: #B8860B;"><strong>ป้ายไฟ LED</strong></span></p>
                    <p>มีหลากหลายประเภทให้เลือก วัสดุที่นิยมนำมาผลิต เช่น อะคริลิก, เหล็กซิงค์พ่นสี, สแตนเลสเงา, สแตนเลสแฮร์ไลน์ ฯลฯ<br>ทางเราเลือกใช้ชิป SAMSUNG (KOREA) อายุการใช้งานยาวนาน 50,000 ชม.</p>
                    <div align ="center">
                        <img src="~/images/I4_LOVE_FRESH.jpg" width="500" style="opacity:1"/>
                        <img src="~/images/ROMANTIC_1.jpg" width="550" style="opacity:1" />
                    </div>
                    <p><br>1. ป้ายไฟ LED แสงออกด้านหน้า (อะคริลิกอยู่ด้านหน้า) เช่น ตัวอักษร หรือกล่องไฟ<br>2. ป้ายไฟ LED แสงออกด้านหลัง (ไม่มีอะคริลิค)<br>3. ป้ายไฟ LED แสงออกด้านข้าง (อะคริลิคเป็นขอบตัวอักษรหรือขอบโลหะฉลุลาย)<br>4. ป้ายไฟ LED แสงออกทั้งตัว (ขึ้นรูปด้วยอะคริลิก ด้านหน้าและด้านข้าง หรืออะคริลิกปั๊มนูน)<br></p>
                </div>
            </div>
    </div>
