
@{
    ViewData["Title"] = "Lightbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">กล่องไฟ</h1>
        </div>
            <div class="row">
                <div class="col-12" style="word-wrap: break-word;">
                    <p><span style="color: #B8860B;"><strong>ป้ายกล่องไฟ (Lightbox)</strong></span></p>
                    <div alifn ="center">
                        <img src="~/images/aorta.jpg" width="500" style="opacity:1"/>
                        <img src="~/images/i4_1.jpg" width="500" style="opacity:1" />
                    </div>
                    <p><br>- มีหลายรูปแบบ ทั้ง สี่เหลี่ยม ขอบเหลี่ยม ขอบมน, วงกลม, วงรี และทรงอิสระ <br>- มีแบบ 1 ด้านและ 2 ด้าน หรือ หลายด้าน แล้วแต่ลูกค้า<br>- มีแบบสำเร็จรูป ราคาถูก รวดเร็ว ผลิตได้ทันที แต่มีขนาดให้เลือกไม่มาก เหมาะกับงานภายใน แข็งแรงน้อยกว่าแบบสั่งผลิต<br>- แบบสั่งผลิต แข็งแรงทนทาน ใช้ได้ทั้งภายในและภาพนอก<br>- วัสดุ มีให้เลือกตามงบประมาณ มีทั้ง ไวนิลพิมพ์อิงค์เจ็ท, ไวนิลโปร่งแสงติดสติกเกอร์ (ไวนิลและสติกเกอร์มีหลายเกรดให้เลือก), อะคริลิค, ฟิล์ม พีพี รวมถึงวัสดุขอบ เหล็กซิงค์พ่นสี 2k, สแตนเลส, คอมโพสิต ฯลฯ<br>- ระบบไฟ ปัจจุบันนิยมใช้ LED T8 หรือ LED Module (กล่องจะบางกว่ามาก แต่แพงกว่า) ประหยัดไฟและน้ำหนักเบา ซึ่งแล้วแต่งบประมาณของลูกค้า<br>- มีแบบ ล้อเลื่อน, ติดผนัง, ยื่นจากอาคาร, ตั้งเสา ตามความเหมาะสม</p>
                </div>
            </div>
    </div>
