
@{
    ViewData["Title"] = "สติกเกอร์";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">สติกเกอร์</h1>
        </div>
            <div class="row">
                <div class="col-12" style="word-wrap: break-word;">
                    <p>&nbsp;<br></p><p><span style="color: #B8860B;"><strong>สติ๊กเกอร์ ( Sticker indoor / Outdoor)</strong></span><br>นิยมใช้กับงานประเภทที่ต้องเปียกหรือโดนน้ำ ตากฝนและโดนแสงแดดจัดเป็นเวลานาน สติ๊กเกอร์ มีหลายชนิด <br>เช่น สติ๊กเกอร์ใส สติ๊กเกอร์ขาวเงา สติ๊กเกอร์ขาวด้าน สติกเกอร์รีมูฟ สติกเกอร์ซีทรูและสติ๊กเกอร์พีวีซีอื่นๆ อีกมากมาย ซึ่งเหมาะสำหรับติดกระจก พลาสวู๊ด อะคิลิค รถยนต์ ฟิวเจอร์บอร์ด ฝาผนังที่ผิวเรียบเนื้อแข็ง และฉลากสินค้า<br></p>
                    <ul style="list-style-type: disc;" data-mce-style="list-style-type: disc;">
                        <li>- สติกเกอร์ทึบแสง Sticker PVC สำหรับติดบนวัสดุผิวเรียบเนื้อแข็ง อาทิ PP Board (Future Board) อะคริลิค พลาสวู๊ด กระจก ติดรถ และงานภายนอกอาคารทั่วไป</li>
                        <li>- สติกเกอร์ใส Clear Sticker สำหรับงานติดบนกระจก หรือตู้ไฟ</li>
                        <li>- สติกเกอร์ซีทรู Sticker Seethrough สติ๊กเกอร์เนื้อรู สำหรับติดกระจกอาคาร กระจกรถยนต์ โดยที่ภายในสามารถมองทะลุออกมาภายนอกได้ (นิยมตกแต่งร้านเสริมสวย ร้านเกมส์ )</li>
                        <li>- สติกเกอร์รีมูฟ Sticker Remove สำหรับติดบนวัสดุผิวเรียบเนื้อแข็ง ที่ต้องการความสะอาดและถนอมพื้นผิว เนื่องจากไม่ทิ้งคราบกาวหลังลอกออก วัตถุที่ติดตั้งได้ อาทิ PP Board (Future Board) อะคิลิค พลาสวู๊ด กระจก รถยนต์ และงานภายนอกอาคารทั่วไป (นิยมติดหุ้มรถยนต์)</li>
                    </ul>
                    <p><span style="color: #B8860B;"><strong>สติ๊กเกอร์ติดรถยนต์ (Car Wrap)</strong></span></p>
                    <p>รถที่นิยมติดสติกเกอร์ โดยส่วนใหญ่จะเป็นรถเพื่อการค้า ซึ่งถือเป็นอีกช่องทางหนึ่งในการประชาสัมพันธ์ให้กับธุรกิจ สติกเกอร์และงานพิมพ์มีคุณภาพหลายเกรด ตามงบประมาณของลูกค้า</p>
                    <div align ="center">
                        <img src="~/images/chang_wrap.jpg" width="530" style="opacity:1;"/>
                        <img src="~/images/wrap_car6.jpg" width="530" style="opacity:1;"/>
                    </div>
                    <p><br data-mce-bogus="1"></p><p><span style="color: #B8860B;"><strong>สติ๊กเกอร์ติดกระจกสำนักงาน (Window Wrap)</strong></span></p>
                    <p>สติ๊กเกอร์ติดผนังร้านค้า&nbsp;กระจกหน้าร้าน&nbsp;สติ๊กเกอร์ติดกระจกออฟฟิศสำนักงาน&nbsp;เพื่อความสวยงาม บังสายตา เพื่อสร้างภาพลักษณ์ให้สินค้าและองค์กรที่ชัดเจนขึ้น หรือเพื่อการโฆษณาประชาสัมพันธ์<br><br>ลูกค้าสามารถเลือกใช้วัสดุได้หลากหลาย ขึ้นอยู่กับความเหมาะสม การออกแบบ และวัสดุพื้นผิว การเลือกใช้งานพิมพ์สติ๊กเกอร์ที่ดีมีคุณภาพ ช่วยให้งานสวยงาม คงทน และประหยัดงบประมาณด้านความถี่ในการเปลี่ยนภาพ และยังสามารถรื้อถอนได้โดยไม่ทำลายหน้าวัสดุพื้นผิว<br><br>งานสติ๊กเกอร์ยังง่ายต่อการใช้งาน โดยสามารถติดตั้งได้บนสภาพวัสดุพื้นผิวที่หลากหลาย เช่น&nbsp; กระจก ประตู หน้าต่าง ผนังไม้ mdf plaswood ฟอร์ไมก้า ผนังลามิเนท เป็นต้น</p>
                    <div align="center">
                        <img src="~/images/iwater_s.jpg" width="530" style="opacity:1;"/>
                        <img src="~/images/wiroon_sticker.jpg" width="530" style="opacity:1;" />
                    </div>
                </div>
            </div>
    </div>
