
@{
    ViewData["Title"] = "Tower";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            background: #F0F0F0;
            font-size: 18px;
            color: #69491A;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <h1 class="h2">ป้ายทาวเวอร์</h1>
        </div>
            <div class="row">
                <div class="col-12" style="word-wrap: break-word;">
                    <p><span style="color: #B8860B;"><strong>ป้ายทาวเวอร์ ป้ายไพลอน (TOWER Sign, Pylon Sign)</strong></span></p>
                    <p><br>มีลักษณะเป็นป้ายตั้งเสาสูงเด่นและมีโครงสร้างเหล็กขนาดใหญ่รองรับตัวป้าย ส่วนใหญ่ติดตั้งอยู่ด้านหน้าอาคาร หน้าสำนักงาน ด้วยจุดเด่นที่มีลักษณะสูงใหญ่ ทำให้ ศูนย์บริการ โชว์รูมรถ ศูนย์การค้า ปั๊มน้ำมัน ร้านอาหาร และสถานบันเทิงต่างๆ นิยมทำป้ายทาวเวอร์ไว้ด้านหน้าสถานประกอบการของตนเอง เพื่อดึงดูดให้ลูกค้า เข้ามาใช้บริการ เพราะนอกจากจะมีความโดดเด่น สวยงามแล้ว ยังสร้างความเชื่อมั่นให้แก่ลูกค้าได้เป็นอย่างดี วัสดุที่นำมาใช้เป็นส่วนประกอบกับป้ายชนิดนี้ ส่วนใหญ่จะทำเป็น ตัวอักษร หรือโลโก้ขนาดใหญ่ หรือกล่องไฟขนาดใหญ่ และนิยมนำอลูมิเนียมคอมโพสิต มาประกอบกับโครงป้ายเพื่อเพิ่มความหรูหราให้กับตัวป้าย การผลิตป้ายทาวเวอร์นี้ต้องควบคุมด้วยวิศวกรที่มีความรู้เช่นเดียวกับป้ายบิลบอร์ด เนื่องจากเป็นป้ายขนาดใหญ่ จึงต้องมีฐานราก การตอกเสาเข็ม เพื่อความปลอดภัยและความทนทานของโครงสร้างป้าย<br><br>เรารับผลิตและติดตั้งงาน ตามสเปคงานที่สถาปนิกและวิศวกรได้เขียนแบบมา</p>
                    <div align ="center">
                        <img src="~/images/VT.jpg" width="1100" style="opacity:1;"/>
                    </div>
                </div>
            </div>
    </div>
