################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graphiczone/.vs/Graphiczone/v16
/Graphiczone/Graphiczone/obj/Debug/netcoreapp3.1
/Graphiczone/Graphiczone/obj
