
@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Manager</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            ยินดีต้อนรับคุณลูกค้า : @ViewBag.CusUsername
        </div>
    </div>
</div>