
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://image.makewebeasy.net/makeweb/0/7vXsOzZZi/attach_file/favicon/favicon_20171207074525-0.ico" type="image/ico" />

    <title>Login Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- toastr -->
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script>
        function Login() {
            if (document.getElementById("UserUsername").value == "" || document.getElementById("UserPassword").value == "") {
                toastr.error('กรุณากรอกข้อมูลให้ครบถ้วน', 'ไม่สำเร็จ', { timeOut: 3000, "closeButton": true });
                document.getElementById("UserUsername").focus();
            } else {
                LogintoDB();
            }
        }
        function LogintoDB() {
            var data = $("#Login").serialize();
            $.ajax({
                type: "post",
                data: data,
                url: "../Admin/LoginAuth",
                success: function (result) {
                    if (result == 1) {
                        toastr.success('เข้าสู่ระบบสำเร็จ', 'สำเร็จ', { timeOut: 3000, "closeButton": true });
                        setTimeout(function GotoLogin() {
                            window.location.href = ("../Admin/Index");
                        }, 1500);
                        Reset();
                    } else {
                        toastr.error('Username หรือ Password ไม่ถูกต้องกรุณาตรวจใหม่อีกครั้ง', 'ไม่สำเร็จ', { timeOut: 3000, "closeButton": true });
                        document.getElementById("UserUsername").focus();
                    }

                }
            });
        }



        function Reset() {
            document.getElementById("Login").reset();
        }

        function showpassword() {
            var x = document.getElementById("UserPassword");
            if (x.type == "password") {
                x.type = "text";
            } else {
                x.type = "password";
                y.class("fas fa-eye")

            }
        }
    </script>
    <style>
        #userlogin {
            box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);
            padding: 10px;
            background-color: white;
            border-radius: 10%;
        }
    </style>
</head>
<body class="bg-light" style="font-family: 'Prompt', sans-serif;">
    <div class="container">
        <div class="row" align="center">
            <div class="col-md-6 offset-md-3" style="margin-top:5%">
                <img src="~/images/graphiczonelogocut.png" width="180px" height="180px" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3" id="userlogin">
                <div class="row" align="center">
                    <div class="col-md-12">
                        <h2 class="pt-3">เข้าสู่ระบบเจ้าของกิจการ</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <form id="Login">
                                <div class="form-group">
                                    <div class="row" style="margin-bottom:5px">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                                </div>
                                                <input class="form-control" type="text" name="UserUsername" id="UserUsername" placeholder="กรุณากรอกบัญชีผู้ใช้งาน" value="admin" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row" style="margin-bottom:5px">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                                </div>
                                                <input class="form-control" type="password" name="UserPassword" id="UserPassword" placeholder="กรุณากรอกรหัสผ่าน" value="123456" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input style="margin-top:5px" type="checkbox" id="x" onclick="showpassword()" /><label style="margin:0 5px" for="x">แสดงรหัสผ่าน</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 offset-3">
                                        <button class="btn btn-light form-control badge-pill " type="submit" onclick="Login()" style="color:#ff0000;box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);"><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
