<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://image.makewebeasy.net/makeweb/0/7vXsOzZZi/attach_file/favicon/favicon_20171207074525-0.ico" type="image/ico" />
    <title>@ViewData["Title"] - Graphiczone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/smart_wizard.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'>
    <style>
        .over-flow-icon-btn {
            --bg-color: #ca4026;
            text-decoration: none;
            background-color: var(--bg-color,#ca4026);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#ca4026);
            box-shadow: 0 0 4px var(--bg-color,#ca4026);
            
        } .over-flow-icon-btn i {
                -webkit-text-stroke-color: var(--bg-color,#ca4026);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }.over-flow-icon-btn:hover {
                text-shadow: 0 0 36px var(--bg-color,#ca4026);
                box-shadow: 0 0 14px var(--bg-color,#ca4026);
                color:white;
            }
          .over-flow-icon-btn1 {
            --bg-color: #478FCD;
            text-decoration: none;
            background-color: var(--bg-color,#478FCD);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#478FCD);
            box-shadow: 0 0 4px var(--bg-color,#478FCD);
        }

            .over-flow-icon-btn1 i {
                -webkit-text-stroke-color: var(--bg-color,#478FCD);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }
        .over-flow-icon-btn1:hover {
            text-shadow: 0 0 36px var(--bg-color,#ca4026);
            box-shadow: 0 0 14px var(--bg-color,#ca4026);
            color: white;
        }.over-flow-icon-btn2 {
            --bg-color: #FFA614;
            text-decoration: none;
            background-color: var(--bg-color,#FFA614);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#FFA614);
            box-shadow: 0 0 4px var(--bg-color,#FFA614);
        }

            .over-flow-icon-btn2 i {
                -webkit-text-stroke-color: var(--bg-color,#FFA614);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }
        .over-flow-icon-btn2:hover {
            text-shadow: 0 0 36px var(--bg-color,#ca4026);
            box-shadow: 0 0 14px var(--bg-color,#ca4026);
            color: white;
        }

        .over-flow-icon-btn3 {
            --bg-color: #5EAA5F;
            text-decoration: none;
            background-color: var(--bg-color,#5EAA5F);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#5EAA5F);
            box-shadow: 0 0 4px var(--bg-color,#5EAA5F);
        }

            .over-flow-icon-btn3 i {
                -webkit-text-stroke-color: var(--bg-color,#5EAA5F);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }
        .over-flow-icon-btn3:hover {
            text-shadow: 0 0 36px var(--bg-color,#ca4026);
            box-shadow: 0 0 14px var(--bg-color,#ca4026);
            color: white;
        }

        .over-flow-icon-btn4 {
            --bg-color: #9D6AB9;
            text-decoration: none;
            background-color: var(--bg-color,#9D6AB9);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#9D6AB9);
            box-shadow: 0 0 4px var(--bg-color,#9D6AB9);
        }

            .over-flow-icon-btn4 i {
                -webkit-text-stroke-color: var(--bg-color,#9D6AB9);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }
        .over-flow-icon-btn4:hover {
            text-shadow: 0 0 36px var(--bg-color,#ca4026);
            box-shadow: 0 0 14px var(--bg-color,#ca4026);
            color: white;
        }

        .over-flow-icon-btn5 {
            --bg-color: #1ABCBD;
            text-decoration: none;
            background-color: var(--bg-color,#1ABCBD);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#1ABCBD);
            box-shadow: 0 0 4px var(--bg-color,#1ABCBD);
        }

            .over-flow-icon-btn5 i {
                -webkit-text-stroke-color: var(--bg-color,#1ABCBD);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }

            .over-flow-icon-btn5:hover {
                text-shadow: 0 0 36px var(--bg-color,#1ABCBD);
                box-shadow: 0 0 14px var(--bg-color,#1ABCBD);
                color: white;
            }
        .over-flow-icon-btn6 {
            --bg-color: #ED186B;
            text-decoration: none;
            background-color: var(--bg-color,#ED186B);
            padding: 12px 16px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            font-family: Arial,Arial, Helvetica, sans-serif;
            border-radius: 4px;
            text-shadow: 0 0 8px var(--bg-color,#ED186B);
            box-shadow: 0 0 4px var(--bg-color,#ED186B);
        }

            .over-flow-icon-btn6 i {
                -webkit-text-stroke-color: var(--bg-color,#ED186B);
                -webkit-text-stroke-width: 0.02em;
                font-size: 4rem;
            }

            .over-flow-icon-btn6:hover {
                text-shadow: 0 0 36px var(--bg-color,#ED186B);
                box-shadow: 0 0 14px var(--bg-color,#ED186B);
                color: white;
            }
        footer {
            color: #69491A;
        }
        .pagination{
            justify-content:center;
        }
        .page-item, .page-link{
            margin:0%;
        }
    </style>
</head>
<body style="font-family: 'Prompt', sans-serif;">

    <partial name="_header" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <partial name="_Customermenu" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-5 pt-2">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <nav></nav>
            </div>

        </div>
    </div>

    <partial name="_Customerfooter" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- toastr -->
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>