<footer class="page-footer font-small unique-color-dark" style="margin-top:1rem; font-size:13px;">
    <div style="background-color:#D3D3D3;">
        <div class="container text-center text-md-left">
            <div class="row mt-1">
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-1">
                    <h6 class="text-uppercase font-weight-bold">ห้างหุ้นส่วนจำกัด</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;color:#69491A;">
                    <p>
                        หจก. กราฟฟิกโซน คือโรงงานผลิตและติดตั้งป้ายโฆษณา ที่มีประสบการณ์มานานกว่า 10 ปี เรามีความพร้อมในการผลิตด้วยเครื่องจักรที่ได้มาตรฐาน บนพื้นที่กว่า 800 ตารางเมตร จึงมั่นใจได้ในเรื่องคุณภาพและบริการ
                    </p>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-1">
                    <div align="center">
                        <h6 class="text-uppercase font-weight-bold">ติดต่อ</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>
                                <i class="fas fa-map-marker-alt mr-3" style="color:red"></i> 226/77-78 หมู่ 6 ถ.ประชาสโมสร ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000
                            </p>
                            <p>
                                <i class="fas fa-envelope-open-text" style="color:darkgoldenrod"></i> graphixzone2010@gmail.com
                            </p>
                        </div>
                        <div class="col-5">
                            <p>
                                <i class="fas fa-phone mr-3" style="color:crimson"></i>  081 6412349
                            </p>
                            <br>
                            <p>
                                <i class="fas fa-print mr-3" style="color:black"></i> + 01 234 567 89
                            </p>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-lg-3 text-center ">
                    <h6 class="text-uppercase font-weight-bold">Social</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <br><a href="https://web.facebook.com/gzkk9/"><i class="fab fa-facebook" style="color: #4267b2;padding:1rem;font-size:20px;"></i></a>
                    <a href="http://line.me/ti/p/~neng-gz"><i class="fab fa-line" style="color: #00b900;padding:1rem;font-size:20px;"></i></a>
                    <a href="https://www.instagram.com/explore/locations/777428135698459/thailand/khon-kaen-district/"><i class="fab fa-instagram" style="color: rgb(205, 57, 119); padding: 1rem; font-size: 20px;"></i></a>
                    <i class="fas fa-envelope-open-text" style="color: #0359AE;padding:1rem;font-size:20px;"></i>
                </div>
            </div>
        </div>
    </div>
</footer>