<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://image.makewebeasy.net/makeweb/0/7vXsOzZZi/attach_file/favicon/favicon_20171207074525-0.ico" type="image/ico" />
    <title>@ViewData["Title"] - Graphiczone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>

    <partial name="_header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- toastr -->
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
