@using Microsoft.AspNetCore.Http
    <style>
        .btnlogin {
            background: #10A44A;
            color: white;
        }
        .btnregis {
            background: #01ACBD;
            color: white;
        }
    </style>
    <ul class="navbar-nav" >
        @if (Context.Session.GetString("CusUsername") != null)
        {
        <li class="nav-item">
            <a href="/Customer/Manager" style="margin:10px">คุณ : @Context.Session.GetString("CusUsername") </a>
            @Html.ActionLink("ออกจากระบบ", "Logout", "Customer", null, new { @class = "btn btn-danger" })
        </li>
        }
        else
        {
    <li class="nav-item">
        @Html.ActionLink("เข้าสู่ระบบ", "Login", "Customer", null, new { @class = "btn btnlogin" })
        @Html.ActionLink("สมัครสมาชิก", "Register", "Customer", null, new { @class = "btn btnregis" })
    </li>
    }
    </ul>