@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@model Graphiczone.Models.SQLServer.Customer

@inject  IHttpContextAccessor HttpContextAccessor
<ul class="navbar-nav">
    <li class="nav-item">
        @Html.ActionLink("เข้าสู่ระบบ", "Login", "Customer", null, new { @class = "btn btn-outline-success" })
        @Html.ActionLink("สมัครสมาชิก", "Register", "Customer", null, new { @class = "btn btn-warning" })
    </li>
    
</ul>