<ul class="navbar-nav">
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Customer", null, new { @class = "btn btn-outline-warning" })
        @Html.ActionLink("Register", "Register", "Customer", null, new { @class = "btn btn-warning" })
    </li>
</ul>