<header style="font-family: 'Sarabun', sans-serif;">
    <div class="container-fluid text-center bg-light">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="~/images/graphiczonelogo.png" />
                <p>
                    หจก. กราฟฟิกโซน 226/77-78 หมู่ 6 ถ.ประชาสโมสร ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000 <br />
                    Office: 043-235388, 091-0658742 Hotline: 081-6412349 Email: graphixzone2010@gmail.com / nengjam@hotmail.com
                </p>
            </div>
        </div>
    </div>
</header>