<header style="font-family: 'Sarabun', sans-serif;">
    <div class="container-fluid text-center bg-light">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="/@ViewBag.getShoplogo" />
                <p>
                    @ViewBag.getShopaddress <br />
                    ติดต่อ : @ViewBag.getShopfax, @ViewBag.getShoptel Email: @ViewBag.getShopemail
                </p>
            </div>
        </div>
    </div>
</header>