@using Microsoft.AspNetCore.Http

<ul class="nav flex-column">
    <li class="nav-item">
        <div class="card">
            <div class="card-body">
                @if (Context.Session.GetString("UserUsername") != null)
                {
                    <label><i class="fas fa-user-alt"></i> : @Context.Session.GetString("UserUsername") </label>

                    <div align="right">
                        <a class="btn btn-danger badge-pill" href="/User/Logout" style="font-size:12px;box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
                    </div>
                }
                else
                {

                }
            </div>
        </div>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/User/Index"><i class="fas fa-home" style="color:#f50057"></i> หน้าแรก</a>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/OrderPrint/ListWorkAll"><i class="far fa-list-alt" style="color:#0094ff"></i> รายการสั่งทำทั้งหมด</a>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/OrderPrint/ListOverdue"><i class="fab fa-creative-commons-nc" style="color:red"></i> รายการที่ยังไม่ชำระเงิน</a>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/OrderPrint/ConfirmPayment"><i class="fab fa-cc-visa" style="color:#FF5252"></i> รอยืนยันการชำระเงิน</a>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/OrderPrint/ListWorkStatus"><i class="fas fa-clipboard-check" style="color:#536DFE"></i> อัพเดตสถานะงาน</a>
        <hr class="bg-white" />
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/Shipping/ListWorkShipping"><i class="fas fa-shipping-fast" style="color:#FFC107"></i> บันทึกการส่งมอบ</a>
        <hr class="bg-white" />
    </li>
</ul>